In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from datetime import datetime

In [11]:
df=pd.read_csv("../data/daily_sales.csv")
df.head()

,date,total_sales,year,month,day,dayofweek,is_weekend,sales_yesterday,sales_last_week,sales_avg_7d,sales_avg_30d
0,2013-01-01,2511.618999,2013,1,1,1,0,NaN,NaN,NaN,NaN
1,2013-01-02,496092.417944,2013,1,2,2,0,2511.618999,NaN,NaN,NaN
2,2013-01-03,361461.231124,2013,1,3,3,0,496092.417944,NaN,NaN,NaN
3,2013-01-04,354459.677093,2013,1,4,4,0,361461.231124,NaN,NaN,NaN
4,2013-01-05,477350.121229,2013,1,5,5,1,354459.677093,NaN,NaN,NaN

In [3]:
df['date']=pd.to_datetime(df['date'])

In [5]:
print(f"Shape: {df.shape}")
print(df.head())

Shape: (1684, 11)
        date    total_sales  year  month  day  dayofweek  is_weekend  \
0 2013-01-01    2511.618999  2013      1    1          1           0
1 2013-01-02  496092.417944  2013      1    2          2           0
2 2013-01-03  361461.231124  2013      1    3          3           0
3 2013-01-04  354459.677093  2013      1    4          4           0
4 2013-01-05  477350.121229  2013      1    5          5           1

   sales_yesterday  sales_last_week  sales_avg_7d  sales_avg_30d
0              NaN              NaN           NaN            NaN
1      2511.618999              NaN           NaN            NaN
2    496092.417944              NaN           NaN            NaN
3    361461.231124              NaN           NaN            NaN
4    354459.677093              NaN           NaN            NaN

In [4]:
#  Add time features
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['dayofweek'] = df['date'].dt.dayofweek
df['is_weekend'] = (df['date'].dt.dayofweek >= 5).astype(int)

In [6]:
#  Add lag features
df = df.sort_values('date')
df['sales_yesterday'] = df['total_sales'].shift(1)
df['sales_last_week'] = df['total_sales'].shift(7)

print("Added lag features")

Added lag features

In [7]:
# Add moving averages
df['sales_avg_7d'] = df['total_sales'].rolling(7).mean()
df['sales_avg_30d'] = df['total_sales'].rolling(30).mean()

In [8]:
df.to_csv('../data/daily_sales.csv', index=False)
print("Saved processed data")
print(f"Final shape: {df.shape}")

Saved processed data
Final shape: (1684, 11)

In [9]:
df.isnull().sum()

date                0
total_sales         0
year                0
month               0
day                 0
dayofweek           0
is_weekend          0
sales_yesterday     1
sales_last_week     7
sales_avg_7d        6
sales_avg_30d      29
dtype: int64